[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Trash Applet
Name[ar]=بريمج المهملات
Name[be]=Аплет Сьметніцы
Name[ca]=Miniaplicació de paperera
Name[cs]=Applet Koš
Name[de]=Papierkorb
Name[dz]=ཕྱགས་ཧོད་ཨེཔ་ལེཊི།
Name[el]=Εφαρμογίδιο απορριμμάτων
Name[en_GB]=Wastebasket Applet
Name[eo]=Forviŝuja Apleto
Name[eu]=Zakarrontzi Applet-a
Name[fi]=Roskakorisovelma
Name[fr]=Applet corbeille
Name[he]=יישומון סל מחזור
Name[hu]=Kuka kisalkalmazás
Name[it]=Applet Cestino
Name[ja]=ゴミ箱アプレット
Name[ko]=쓰레기통 애플릿
Name[lv]=Miskastes Sīklietotne
Name[mk]=Аплет за ѓубре
Name[nb_NO]=Papirkurv visning
Name[nl]=Prullenbak applet
Name[pa]=ਰੱਦੀ ਐਪਲਿਟ
Name[pl]=Aplet śmietnika
Name[pt_BR]=Miniaplicativo da Lixeira
Name[pt_PT]=Applet do Lixo
Name[ro]=Progrămel asociat coşului
Name[ru]=Корзина
Name[sk]=Applet koša
Name[sq]=Zbatimthi Hedhurina
Name[sv]=Papperskorgen
Name[tr]=Çöp Uygulamacığı
Name[uk]=Аплет Смітника
Name[ur]=ردی ایپلیٹ
Name[zh_CN]=垃圾箱小程序
Name[zh_TW]=垃圾桶小程式
Comment=Display the trash can
Comment[ar]=اعرض علبة المهملات
Comment[be]=Адлюстраваць зьмест зьметніцы
Comment[ca]=Mostra la paperera
Comment[cs]=Zobrazovat koš
Comment[de]=Schneller Zugriff auf den Papierkorb
Comment[dz]=ཕྱགས་ཧོད་ཧོད་འདི་བཀྲམ་སྟོན་འབད།
Comment[el]=Προβολή του κάδου απορριμάτων
Comment[en_GB]=Display the Wastebasket
Comment[eo]=Montru la rubujon
Comment[eu]=Zakarrontzi ahalmenak bidatarazi
Comment[fi]=Näytä roskakorin sisältö
Comment[fr]=Afficher la corbeille
Comment[he]=הצג סל מחזור
Comment[hu]=Kuka mutatása
Comment[it]=Mostra il Cestino
Comment[ja]=ゴミ箱の中身を表示
Comment[ko]=쓰레기통을 보여줍니다.
Comment[lv]=Attēlot miskasti
Comment[mk]=Прикажи ја кантата со ѓубре
Comment[nb_NO]=Vis papirkurven
Comment[nl]=Prullenbak weergeven
Comment[pa]=ਰੱਦੀ ਡੱਬਾ ਵੇਖਾਓ
Comment[pl]=Pokaż ikonę śmietnika
Comment[pt_BR]=Mostrar a lixeira
Comment[pt_PT]=Mostrar o lixo
Comment[ro]=Arată coşul de gunoi
Comment[ru]=Отображает корзину на панели
Comment[sk]=Zobraziť obsah koša
Comment[sq]=Shfaq kosh hedhurinash
Comment[sv]=Visar papperskorgen i panelen
Comment[tr]=Çöp Kutusunu Görüntüle
Comment[uk]=Показати Смітник
Comment[ur]=ردی ظاہر کریں
Comment[zh_CN]=显示垃圾箱
Comment[zh_TW]=顯示垃圾桶
Icon=gnome-fs-trash-empty
X-XFCE-Exec=/usr/lib/thunar/xfce4/panel-plugins/thunar-tpa

