[Desktop Entry]
Encoding=UTF-8
Name=xfce4-tips
Name[be]=xfce4-tips
Name[ca]=Consells d'Xfce4
Name[cs]=xfce4-tips
Name[de]=Xfce4-Tipps
Name[dz]=ཨེགསི་ཨེཕ་སི་ཨི་༤-སླབ་བྱ།
Name[el]=συμβουλές xfce4
Name[en_GB]=xfce4-tips
Name[eo]=xfce4-tips (Xfce 4 arkanoj)
Name[es]=consejos de xfce4
Name[et]=xfce4 näpunäited
Name[eu]=xfce4-gomendioak
Name[fi]=xfce4-vinkit
Name[fr]=astuces-xfce4
Name[gl]=Consellos do xfce4
Name[gu]=xfce4-tips
Name[he]=טיפים של Xfce4
Name[hu]=xfce4-tippek
Name[it]=xfce4-tips
Name[ja]=Xfce チップ
Name[ko]=xfce4-비법
Name[lv]=xfce4-tips
Name[mk]=xfce4-tips
Name[nb_NO]=xfce4-tips
Name[nl]=xfce4-tips
Name[pl]=xfce4-porady
Name[pt_BR]=xfce4-tips
Name[pt_PT]=dicas-xfce4
Name[ro]=xfce4-tips
Name[ru]=подсказки xfce4
Name[sk]=xfce4-tipy
Name[sv]=xfce4-tips
Name[tr]=xfce4-tips
Name[uk]=підказки xfce4
Name[vi]=xfce4-tips
Name[zh_CN]=Xfce4-小提示
Name[zh_TW]=xfce4-秘訣
Comment=Tips and tricks
Comment[be]=Каштоўныя парады
Comment[ca]=Consells i suggeriments
Comment[cs]=Tipy a triky
Comment[de]=Tipps beim _Starten anzeigen
Comment[dz]=སླབ་བྱ་དང་འཁྲུལ་ཐབས།
Comment[el]=Συμβουλές και κολπάκια
Comment[en_GB]=Tips and tricks
Comment[eo]=Arkanoj
Comment[es]=Consejos y trucos
Comment[et]=Näpunäited ja trikid
Comment[eu]=Gomedio eta Laguntza
Comment[fi]=Vinkkejä ja kikkoja
Comment[fr]=Trucs et astuces
Comment[gl]=Consellos e trucos
Comment[gu]=મદદો અને તરકીબો
Comment[he]=טיפים וטריקים
Comment[hu]=Tippek és trükkök
Comment[it]=Suggerimenti e trucchi
Comment[ja]=チップとトリック
Comment[ko]=비법 전수
Comment[lv]=Padomi un triki
Comment[mk]=Трикови и совети
Comment[nb_NO]=Tips og triks
Comment[nl]=Tips en Trucs
Comment[pl]=Sztuczki i kruczki
Comment[pt_BR]=Dicas e truques
Comment[pt_PT]=Dicas e truques
Comment[ro]=Sugestii şi ponturi
Comment[ru]=Полезные советы
Comment[sk]=Tipy a triky
Comment[sv]=Tips och trick
Comment[tr]=İpuçları ve İncelikler
Comment[uk]=Корисні поради
Comment[vi]=Thủ thuật và mách nước
Comment[zh_CN]=小提示与技巧
Comment[zh_TW]=秘訣與撇步
Exec=xfce4-tips
Icon=xfce4-logo
Terminal=false
Type=Application
OnlyShowIn=XFCE;
Hidden=false
