[Desktop Entry]
Encoding=UTF-8
Name=Xfce 4 Splash Screen Settings
Name[be]=Настаўленьні застаўкі Xfce
Name[bn_IN]=Xfce 4 স্প্ল্যাশ স্ক্রিন সংক্রান্ত সংক্রান্ত বৈশিষ্ট্যাবলী
Name[ca]=Paràmetres Xfce4 de la pantalla de presentació
Name[cs]=Nastavení spouštěcí obrazovky Xfce 4
Name[de]=Xfce4-Startbildschirm
Name[dz]=ཨེགསི་ཨེཕ་སི་ཨི་ ༤སི་པེལེཤ་གསལ་གཞི་སྒྲིག་སྟངས་ཚུ།
Name[el]=Ρυθμίσεις οθόνης εκκίνησης Xfce 4
Name[en_GB]=Xfce 4 Splash Screen Settings
Name[eo]=Xfce 4 Ekaperantektranaj Parametroj
Name[es]=Configuración de pantalla de inicio de Xfce 4
Name[et]=Xfce 4 käivituspildi seaded
Name[eu]=Xfce 4 Abiarazpen Pantaila Ezarpenak
Name[fi]=Xfce 4 käynnistyskuva-asetukset
Name[fr]=Écran de démarrage de Xfce 4
Name[gl]=Axustes da pantalla de inicio do Xfce 4
Name[gu]=Xfce 4 ઝબૂક સ્ક્રીન સુયોજનો
Name[he]=הגדרות מסך פתיחה Xfce 4
Name[hu]=Xfce 4 nyitókép beállítások
Name[it]=Impostazioni della schermata d'avvio di Xfce 4
Name[ja]=Xfce 4 起動画面の設定
Name[ko]=Xfce 4 시작화면 설정
Name[lv]=Xfce 4 Uzplaiksnījuma Ekrāna Uzstādījumi
Name[mk]=Поставки на сплеш екран за Xfce 4
Name[mr]= Xfce 4 स्पॅश पडद्याची रचना
Name[nb_NO]=Xfce 4 velkomstbilde innstillinger
Name[nl]=Beginscherm instellen
Name[pl]=Ustawienia ekranu powitalnego
Name[pt_BR]=Configurações de Tela de Abertura do Xfce 4
Name[pt_PT]=Definições do Ecrã de Arranque
Name[ro]=Preferinţe imagine de pornire Xfce 4
Name[ru]=Настройки заставки Xfce 4
Name[sk]=Xfce 4 Nastavenie úvodnej obrazovky
Name[sv]=Xfce 4 Inställningar för Startbilden
Name[tr]=Xfce 4 Açılış Ekranı Ayarları
Name[uk]=Параметри заставки Xfce 4
Name[vi]=Thiết lập màn hình khởi động Xfce 4
Name[zh_CN]=Xfce4 启动画面设置
Name[zh_TW]=Xfce 4 啟動畫面設定
Comment=Splash Screen Settings
Comment[az]=Açılış Rəsmi Qurğuları
Comment[be]=Наладка застаўкі
Comment[bn_IN]=স্প্ল্যাশ স্ক্রিন সংক্রান্ত বৈশিষ্ট্যাবলী
Comment[ca]=Paràmetres de la pantalla de presentació
Comment[cs]=Nastavení spouštěcí obrazovky
Comment[de]=Einstellungen für den Startbildschirm
Comment[dz]=གསལ་གཞི་སྒྲིག་སྟངས་ཚུ་སིཔེལེཤ་འབད།
Comment[el]=Οθόνη εκκίνησης
Comment[en_GB]=Splash Screen Settings
Comment[eo]=Ekaperantekranaj Parametroj
Comment[es]=Configuración de pantalla de inicio
Comment[es_MX]=Configuración de pantalla de inicio
Comment[et]=Stardipildi seaded
Comment[eu]=Abiarazpen Pantaila Ezarpenak
Comment[fa]=تنظیمات تصویر آغازی صفحه
Comment[fi]=Käynnistyskuva-asetukset
Comment[fr]=Paramétrage de l'écran de démarrage
Comment[gl]=Axustes da pantalla de inicio
Comment[gu]=ઝબૂકતી સ્ક્રીનના સુયોજનો
Comment[he]=הגדרות מסך פתיחה
Comment[hu]=Nyitókép beállítások
Comment[it]=Impostazioni della Schermata d'avvio
Comment[ja]=起動画面
Comment[ko]=시작 화면 설정
Comment[lt]=Demonstracinio Ekrano Nustatymai
Comment[lv]=Uzplaiksnījuma Ekrāna Uzstādījumi
Comment[mk]=Поставување на сплеш екран
Comment[mr]=पडद्याच्या रचना स्प्लॅश करा
Comment[nb_NO]=Innstillinger for Velkomstbilde
Comment[nl]=Beginscherm instellen
Comment[pa]=ਝਲਕਾਰਾ ਪਰਦਾ ਵਿਵਸਥਾਵਾਂ
Comment[pl]=Ustawienia ekranu powitalnego
Comment[pt_BR]=Configurações da Tela de Abertura
Comment[pt_PT]=Definições do Ecrã de Arranque
Comment[ro]=Preferinţe imagine de pornire
Comment[ru]=Заставка
Comment[sk]=Nastavenie úvodnej obrazovky
Comment[sv]=Inställningar för Startbilden
Comment[tr]=Açılış Ekranı Ayarları
Comment[uk]=Параметри заставки
Comment[vi]=Các thiết lập màn hình splash
Comment[zh_CN]=启动闪屏设置
Comment[zh_TW]=起動畫面設定
Exec=xfce-setting-show splash
Icon=xfce4-splash
Terminal=false
Type=Application
Categories=X-XFCE;Settings;DesktopSettings;
OnlyShowIn=XFCE;
GenericName=Splash Screen Settings
GenericName[az]=Açılış Rəsmi Qurğuları
GenericName[be]=Наладка застаўкі
GenericName[bn_IN]=স্প্ল্যাশ স্ক্রিন সংক্রান্ত বৈশিষ্ট্যাবলী
GenericName[ca]=Paràmetres de la pantalla de presentació
GenericName[cs]=Nastavení spouštěcí obrazovky
GenericName[de]=Einstellungen für den Startbildschirm
GenericName[dz]=གསལ་གཞི་སྒྲིག་སྟངས་ཚུ་སིཔེལེཤ་འབད།
GenericName[el]=Οθόνη εκκίνησης
GenericName[en_GB]=Splash Screen Settings
GenericName[eo]=Ekaperantekranaj Parametroj
GenericName[es]=Configuración de pantalla de inicio
GenericName[es_MX]=Configuración de pantalla de inicio
GenericName[et]=Stardipildi seaded
GenericName[eu]=Abiarazpen Pantaila Ezarpenak
GenericName[fa]=تنظیمات تصویر آغازی صفحه
GenericName[fi]=Käynnistyskuva-asetukset
GenericName[fr]=Paramétrage de l'écran de démarrage
GenericName[gl]=Axustes da pantalla de inicio
GenericName[gu]=ઝબૂકતી સ્ક્રીનના સુયોજનો
GenericName[he]=הגדרות מסך פתיחה
GenericName[hu]=Nyitókép beállítások
GenericName[it]=Impostazioni della Schermata d'avvio
GenericName[ja]=起動画面
GenericName[ko]=시작 화면 설정
GenericName[lt]=Demonstracinio Ekrano Nustatymai
GenericName[lv]=Uzplaiksnījuma Ekrāna Uzstādījumi
GenericName[mk]=Поставување на сплеш екран
GenericName[mr]=पडद्याच्या रचना स्प्लॅश करा
GenericName[nb_NO]=Innstillinger for Velkomstbilde
GenericName[nl]=Beginscherm instellen
GenericName[pa]=ਝਲਕਾਰਾ ਪਰਦਾ ਵਿਵਸਥਾਵਾਂ
GenericName[pl]=Ustawienia ekranu powitalnego
GenericName[pt_BR]=Configurações da Tela de Abertura
GenericName[pt_PT]=Definições do Ecrã de Arranque
GenericName[ro]=Preferinţe imagine de pornire
GenericName[ru]=Заставка
GenericName[sk]=Nastavenie úvodnej obrazovky
GenericName[sv]=Inställningar för Startbilden
GenericName[tr]=Açılış Ekranı Ayarları
GenericName[uk]=Параметри заставки
GenericName[vi]=Các thiết lập màn hình splash
GenericName[zh_CN]=启动闪屏设置
GenericName[zh_TW]=起動畫面設定
