Source: thunar
Section: x11
Priority: optional
Maintainer: Debian Xfce Maintainers <pkg-xfce-devel@lists.alioth.debian.org>
Uploaders: Yves-Alexis Perez <corsac@debian.org>, Emanuele Rocca <ema@debian.org>, Simon Huggins <huggie@earth.li>
Build-Depends: debhelper (>= 5.0.0), autotools-dev, libcairo2-dev, libexo-0.3-dev (>= 0.3.4), cdbs, libxml-parser-perl, libfam-dev, libhal-storage-dev [!hurd-i386 !kfreebsd-i386 !kfreebsd-amd64], libdbus-glib-1-dev, libexif-dev, libgtk2.0-dev (>= 2.10.1), xfce4-panel-dev (>= 4.4.2), chrpath, libpcre3-dev, libjpeg62-dev
Build-Conflicts: libgamin-dev [!hurd-i386]
Standards-Version: 3.7.3
Homepage: http://thunar.xfce.org
Vcs-Svn: svn://svn.debian.org/pkg-xfce/desktop/trunk/thunar/
Vcs-Browser: http://svn.debian.org/wsvn/pkg-xfce/desktop/trunk/thunar/

Package: libthunar-vfs-1-dev
Section: libdevel
Architecture: any
Depends: libthunar-vfs-1-2 (= ${binary:Version}), libexo-0.3-dev (>= 0.3.4), thunar-data (= ${source:Version})
Description: Development files for libthunar-vfs
 This package contains the headers and the static library for libthunar-vfs, 
 the virtual file system abstraction used by thunar

Package: libthunar-vfs-1-2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, thunar-data (= ${source:Version})
Replaces: libthunar-vfs-1
Description: VFS abstraction used in thunar
 This package contains a library for virtual file system abstraction. It's 
 used by thunar, the file manager of Xfce 4.4

Package: thunar
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, desktop-file-utils, shared-mime-info, thunar-data (= ${source:Version}), exo-utils
Recommends: hal, dbus-x11, gamin, ${shlibs:Recommends}
Conflicts: thunar-data (<= 0.9.0-5)
Suggests: thunar-archive-plugin, thunar-media-tags-plugin, thunar-volman
Description: File Manager for Xfce
 Thunar is the file manager designed to be the default file manager of Xfce 4.4
 It has been designed to be fast and easy to use.
 .
 A Xfce plugin can manages the trash, if xfce4-panel is installed as well.
 Please read README.Debian for volume management stuff.

Package: thunar-data
Architecture: all
Replaces: thunar (<= 0.8.0-3)
Description: Provides thunar documentation, icons and translations
 This package contains architecture-independent files for thunar.

Package: thunar-dbg
Architecture: any
Priority: extra
Depends: ${shlibs:Depends}, thunar (= ${binary:Version})
Description: debugging informations for thunar
 This package contains debugging symbols for thunar, libthunar-vfs and 
 libthunar-x, the file manager and file management libraries for Xfce Desktop
 Environment.
