Package: thunar-data
Source: thunar
Version: 0.9.0-10
Architecture: all
Maintainer: Debian Xfce Maintainers <pkg-xfce-devel@lists.alioth.debian.org>
Installed-Size: 10288
Replaces: thunar (<= 0.8.0-3)
Section: x11
Priority: optional
Homepage: http://thunar.xfce.org
Description: Provides thunar documentation, icons and translations
 This package contains architecture-independent files for thunar.
